* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  color: inherit;
}

body {
  background: #212121;
  color: #ececec;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  gap: 20px;
}

.auth h3 {
  font-size: 4.8rem;
}

.auth input {
  font-size: 2.4rem;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.auth button {
  font-size: 2.4rem;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  color: #212121;
  background: #ececec;
  border: 1px solid #ececec;
}

.auth button:hover {
  color: #ececec;
  background: #212121;
  border: 1px solid #ececec;
}

.login,
.signup {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
